* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}


.container {
	width: 100%;	
	margin-right: 20%;

	display: flex;
	justify-content: space-around;
	flex-direction: column;

}

.menu {
	margin-top: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 20px;
}

.menu li {
	list-style: none;
	margin-right: 10px;
}

.menu li a {
	text-decoration: none;
}

.button {
	padding: 10px 20px;
	border: none;	
	cursor: pointer;
}

.btn-blue {
	background-color: blue;
	color: white;
	border-radius: 5px;
}

/* Center*/
.center {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	padding-top: 200px;
}

.center .google-logo {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.center .form-google {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center .google-img {
	display: block;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
}

.search {
	position: relative;
}

.center .search-icon {
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 1;
}

.center .search-keyb {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;

}

.center .google-input {
	display: block;
	width: 550px;
	padding: 15px 50px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 100px;
	margin-bottom: 20px;
	position: relative;
	outline: none;
}

.google-input:focus {

}

.btn {
	background-color: #f8f9fa;
	color: #202124;
	font-size: 14px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.buttons {
	margin-bottom: 20px;
}

.lang {
	text-decoration: none;
}


/* top */

.top {
	display: flex;	
	justify-content: flex-start;
	align-items: start;
	
}

.top .google-logo {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
	margin-left: 50px;
	width: 50px;
	margin-right: 130px;
}

.top .google-logo__img{
	width: 150px;
}

.top .form-google {
	display: flex;
	flex-direction: column;

	justify-content: flex-end;
	align-items: flex-start;
}


.search {
	position: relative;
}

.top .search-icon {
	position: absolute;
	top: 10px;
	right: 50px;
	z-index: 1;
}

.top .search-keyb {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;

}

.top .google-input {	
	width: 700px;
	padding: 15px 50px;
	outline: none;
	border: 1px solid #ccc;
	border-radius: 100px;
	margin-bottom: 20px;
	position: relative;
	outline: none;
}

.google-input:focus .google-input::after {
	content: 'X';
	top: 10px;
	right: 80px;
	z-index: 1;
}
.search-filters {
	display: flex;	
	width: 100%;	
	justify-content: space-between;
}

.search-filter__left {	
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
}

.search-filter__right {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.search-filter__left li {
	margin-right: 20px;	
}
.search-filter__left li a {
	padding-left: 10px;
	align-self: center;
	color: #202124;
}

.search-filter__right li a {
	color: #202124;	
}

.results {
	display: flex;	
	justify-content: flex-start;
	width: 100%;
	align-items: center;
	margin-left: 230px;
	margin-top: 20px;
}

.container-search {
	width: 700px;	
}
/* End  Top */


.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	color: #202124;
	
	position: fixed;
	bottom: 0;
	padding-bottom: 20px;
	background-color: #f2f2f2;
	padding: 10px 20px 30px;
}
.footer-menu {
	display: flex;	
	justify-content: space-between;	
	align-items: center;
	margin-top: 15px;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}

.footer-menu__left, .footer-menu__right {
	display: flex;
}

.footer-menu__left li {


	margin-right: 10px;
	list-style: none;
}
.footer-menu__right li {	
	
	margin-right: 10px;
	list-style: none;
}

.footer-menu__left li a{ 	
	text-decoration: none;
	color: #202124;
}

.footer-menu__right li a{ 	
	text-decoration: none;
	color: #202124;
}
